@model Kusumgar.Models.ComplaintViewModel
@using KusumgarBusinessEntities.Common

<script src="/Scripts/CRM/Event/complaint_event.js"></script>
<script src="/Scripts/CRM/Method/complaint_method.js"></script>
<script src="/Scripts/CRM/Validation/complaint_validation.js"></script>
<link rel="stylesheet" href="~/Content/jquery-ui.css">
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">    
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Complaint

            <small>Add</small>
        </h1>

        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li>CRM</li>
            <li class="active">Complaint</li>
        </ol>
    </section>
   
    <div id="Load_Complaint">
        @{Html.RenderPartial("_InsertComplaint", Model); }
    </div>

</div>
<!-- /.content-wrapper -->
