@model Kusumgar.Models.ComplaintViewModel
@{
    ViewBag.Title = "Search";
}
<script src="/Scripts/CRM/Event/complaint_search_event.js"></script>
<script src="/Scripts/CRM/Method/complaint_search_method.js"></script>
<link rel="stylesheet" href="~/Content/jquery-ui.css">
<input type="hidden" id="hdfCurrentPage" name="Pager.CurrentPage" value="@Model.Pager.CurrentPage" />
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    @{Html.RenderPartial("_ServerMessage");}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Complaint

            <small>Search</small>
        </h1>

        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li>CRM</li>
            <li class="active">Complaint Search</li>
        </ol>
    </section>
    <form id="frmSearch_comp">
        <input type="hidden" id="hdnComplaint_Id" name="Complaint_Id">        
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <!-- form start -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="txtCustName">Customer Name</label>
                                        <div class="auto-complete">
                                            <input type="text" class="form-control input-sm" id="txtCustName" placeholder="Enter Customer Name" name="Filter.Customer_Name" value="@Model.Filter.Customer_Name" />
                                            <input type="hidden" id="hdfCustomer_Id" value="@Model.Filter.Customer_Id" name="Filter.Customer_Id">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="box-footer">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="btn-group pull-left btn-group-sm">
                                            <button type="button" id="btnSearch" class="btn btn-success btn-sm">Search</button>
                                            <a class="btn btn-primary btn-sm" href="@Url.Action("Index","Complaint")" role="button">Create Complaint</a>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="btn-group pull-right btn-group-sm">
                                            <button type="button" id="btnEdit" style="display:none;" class="btn btn-warning btn-sm">Edit Complaint</button>
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- /.content -->
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-solid">
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-striped" id="tblComGrid">
                                <tr id="subhead">
                                    <th style="width:50px;"></th>
                                    <th style="width:300px;">Customer Name</th>
                                    <th style="width:100px;">Order Id</th>
                                    <th style="width:100px;">Order Item Id</th>
                                    <th style="width:100px;">Challan No</th>
                                    <th style="width:300px;">Description</th>
                                </tr>
                            </table>
                        </div>                        
                        <div class="box-footer clearfix">
                            <div class="pagination pagination-sm no-margin pull-right">
                                <ul></ul>
                            </div>
                            <div id="divSearchGridOverlay" class="overlay">
                                <i class="fa fa-refresh fa-spin"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</form>
</div>
<!-- /.content-wrapper -->
