@model Kusumgar.Models.ConsumableMasterViewModel
@using KusumgarBusinessEntities.Common


<script src="~/Scripts/Master/Method/consumable_supplier_method.js"></script>
<script src="~/Scripts/Master/Event/consumable_supplier_event.js"></script>

<div class="row">
    <div class="col-md-4">
       
        <div class="form-group">
            <label for="txtSupplierName">Supplier Name</label>
            <input type="text" class="form-control" id="txtSupplierName" placeholder="Enter Supplier Name" name="" value="">
            <input type="hidden" id="hdnSupplierName" name="Consumable.Supplier_Id" value="@Model.Consumable.Supplier_Id" />
        </div>
        <div class="form-group">
            <label for="txtPriorityOrder">Priority Order</label>
            <input type="text" class="form-control" id="txtPriorityOrder" placeholder="Enter Priority Order" name="" value="">

        </div> 

    </div>

    <div class="col-md-4">

        

    </div>

   
</div>

<div class="box-footer">
    <button type="button" id="btnSave_Supplier" class="btn btn-success">Save Supplier</button>
    <a href="@Url.Action("Search","ConsumableMaster")" id="btnCancel" class="btn btn-warning">Cancle and Open Search</a>
</div>