@model Kusumgar.Models.ComplaintViewModel
@{
    ViewBag.Title = "Search";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    @{Html.RenderPartial("_ServerMessage");}

    <div class="login-box">
        <div class="login-logo">
            <a href="#">You dont have required <b>ACCESS PERMISSIONS</b> Please contact system administrator</a>
        </div><!-- /.login-logo -->
    </div><!-- /.login-box -->
</div>
<!-- /.content-wrapper -->
