@model Kusumgar.Models.SchedulerViewModel

<div id="dp">

</div>
<input type="hidden"  value="@Model.hours" id="txthours">
<input type="hidden" value="@Model.StartDate" id="txtStartDate">
<input type="hidden" value="@Model.EndDate" id="txtEndDate">

