<?xml version="1.0" encoding="utf-8"?>

<log4net>

  <!-- Push logs in MSMQ server -->
  <logger name="MSMQLogger">
    <level value="ALL" />
    <!--<appender-ref ref="MsmqAppender" />-->
    <appender-ref ref="MSMQAppender" />
  </logger>

  <!-- Generates log based on date of system. -->
  <logger name="FileLogger">
    <level value="ALL" />
    <appender-ref ref="LogFileAppender" />
  </logger>

  <!-- Generates log based on date of system. -->
  <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender" >
    <!-- Place log file in remote location -->
    <file value="D:\Visual Source Safe\Kurumgar\Logs\" />
    <!-- We can place log file in bin folder like below-->
    <!-- <file value="bin\" /> -->
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <maxSizeRollBackups value="0" />
    <staticLogFileName value="false" />
    <countDirection value="1"/>
    <datePattern value="Lo\g-yyyyMMdd.\tx\t" />
    <!--Lo\g-yyyyMMdd-HHmmss.\tx\t-->
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-10p%d{yyyy-MM-dd hh:mm:ss} – %m%n" />
    </layout>
  </appender>

  <!-- Push logs in MSMQ server -->
  <!--<appender name="MsmqAppender" type="BureauMonitorModel.Helper.MsmqAppender, BureauMonitorModel">-->
  <appender name="MSMQAppender" type="KusumgarCrossCutting.Logging.MSMQAppender, KusumgarCrossCutting">

    <queueName value="FormatName:DIRECT=OS:ais-1\private$\talk" />
    <labelLayout value="LOG [%level] %date" />
    <layout type="log4net.Layout.PatternLayout" value="%date [%thread] %-5level %logger - %message%newline" />
  </appender>

</log4net>



