
<div class="row">
<div class="col-md-4">
<div class="form-group">
    <label for="txtSingle_MultipleApp">Application Name</label>
    <input type="text" class="form-control" id="txtSingle_MultipleApp" placeholder="Application Name">
</div>
    </div>

    <div class="col-md-8 ">
        <table class="table table-hover">
            <tr>
                <th>Application Name</th>
                <th style="min-width: 81px;">&nbsp; </th>
            </tr>
            <tr>
                <td>Application 1</td>
                <td>
                    <div class="btn-group pull-right">
                        <button type="button" id="btnRemove" class="btn btn-danger btn-sm"><i class='fa fa-times'></i></button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Application 2</td>
                <td>
                    <div class="btn-group pull-right">
                        
                        <button type="button" id="btnRemove" class="btn btn-danger btn-sm"><i class='fa fa-times'></i></button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Application 3</td>
                <td>
                    <div class="btn-group pull-right">
                       
                        <button type="button" id="btnRemove" class="btn btn-danger btn-sm"><i class='fa fa-times'></i></button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Application 4</td>
                <td>
                    <div class="btn-group pull-right">
                        
                        <button type="button" id="btnRemove" class="btn btn-danger btn-sm"><i class='fa fa-times'></i></button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Application 5</td>
                <td>
                    <div class="btn-group pull-right">
                        
                        <button type="button" id="btnRemove" class="btn btn-danger btn-sm"><i class='fa fa-times'></i></button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Application 6</td>
                <td>
                    <div class="btn-group pull-right">
                        
                        <button type="button" id="btnRemove" class="btn btn-danger btn-sm"><i class='fa fa-times'></i></button>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    </div>
<div class="box-footer">
    <button type="submit" id="btnSearch" class="btn btn-success">Save Applications</button>
    <a href="@Url.Action("Search","QualityCreation")" id="btnCancel" class="btn btn-warning" role="button">Cancle and Open Search</a>
</div>
