
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="txtSingle_Multiple_Market_Seg">Segment Name</label>
            <input type="text" class="form-control" id="txtSingle_Multiple_Market_Seg" placeholder="Segment Name">
        </div>
    </div>


    <div class="col-md-8 ">
        <table class="table table-hover">
            <tr>
                <th>Segment Name</th>
                <th style="min-width: 81px;">&nbsp; </th>
            </tr>
            <tr>
                <td>Segment 1</td>
                <td>
                    <div class="btn-group pull-right">                      
                        <button type="button" id="btnRemove" class="btn btn-danger btn-sm"><i class='fa fa-times'></i></button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Segment 2</td>
                <td>
                    <div class="btn-group pull-right">                       
                        <button type="button" id="btnRemove" class="btn btn-danger btn-sm"><i class='fa fa-times'></i></button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Segment 3</td>
                <td>
                    <div class="btn-group pull-right">                       
                        <button type="button" id="btnRemove" class="btn btn-danger btn-sm"><i class='fa fa-times'></i></button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Segment 4</td>
                <td>
                    <div class="btn-group pull-right">                       
                        <button type="button" id="btnRemove" class="btn btn-danger btn-sm"><i class='fa fa-times'></i></button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Segment 5</td>
                <td>
                    <div class="btn-group pull-right">                      
                        <button type="button" id="btnRemove" class="btn btn-danger btn-sm"><i class='fa fa-times'></i></button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Segment 6</td>
                <td>
                    <div class="btn-group pull-right">                      
                        <button type="button" id="btnRemove" class="btn btn-danger btn-sm"><i class='fa fa-times'></i></button>
                    </div>
                </td>
            </tr>
        </table>
    </div>

</div>
<div class="box-footer">
    <button type="submit" id="btnSearch" class="btn btn-success">Save Segments</button>
    <a href="@Url.Action("Search","QualityCreation")" id="btnCancel" class="btn btn-warning" role="button">Cancle and Open Search</a>
</div>