@{
    ViewBag.Title = "Quality Creation";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Quality Creation
            <small>Master</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li>Master</li>
            <li class="active">Quality Creation</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <!-- /.box-tools -->
                <!-- /.box-header -->
                <!-- form start -->
                <br />
                <!-- Custom Tabs -->
                @Html.Partial("~/Views/PostLogin/Master/QualityCreation/_Index.cshtml")
                <!-- /.box-body -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
