@{
    ViewBag.Title = "Peg Plan";
}

<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Peg Plan

            <small>Master</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li>Master</li>
            <li class="active">Peg Plan</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title"></h3>


                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <br />
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                <div class="form-group">
                                    <label for="drpGArticle">G Article </label>
                                    <select class="form-control" id="drpGArticle">
                                        <option>0PES PLN155 100 </option>
                                        <option>0PES PLN155 100 </option>
                                        <option>0PES PLN155 100 </option>
                                        <option>0PES PLN155 100 </option>
                                    </select>
                                </div>

                               

                            </div>

                            <div class="col-md-1 col-xs-6">
                                <div class="form-group text-left">
                                    <label for="lblRows">Rows</label><br>
                                    <label id="lblRows">10</label>
                                </div>

                            </div>

                            <div class="col-md-7 col-xs-6">
                                <div class="form-group text-left">
                                    <label for="lblColumns">Columns</label><br>
                                    <label id="lblColumns">35</label>
                                </div>

                            </div>

                        </div>
                       

                        <div class="table-responsive no-padding">

                        <table class="table table-striped">
                            <tr>
                                <th>1</th>
                                <th>2</th>
                                <th>3</th>
                                <th>4</th>
                                <th>5</th>
                                <th>6</th>
                                <th>7</th>
                                <th>8</th>
                                <th>9</th>
                                <th>10</th>
                                <th>11</th>
                                <th>12</th>
                                <th>13</th>
                                <th>14</th>
                                <th>15</th>
                                <th>16</th>
                                <th>17</th>
                                <th>18</th>
                                <th>19</th>
                                <th>20</th>
                                <th>21</th>
                                <th>22</th>
                                <th>23</th>
                                <th>24</th>
                                <th>25</th>
                                <th>26</th>
                                <th>27</th>
                                <th>28</th>
                                <th>29</th>
                                <th>30</th>
                                <th>31</th>
                                <th>32</th>
                                <th>33</th>
                                <th>34</th>
                                <th>35</th>
                            </tr>

                            <tr>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                            </tr>

                            <tr>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                            </tr>

                            <tr>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                            </tr>

                            <tr>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                            </tr>

                            <tr>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                            </tr>

                            <tr>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                            </tr>

                            <tr>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                            </tr>

                            <tr>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                            </tr>

                            <tr>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                            </tr>

                            <tr>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                                <td><input type="checkbox" name="r1" /></td>
                            </tr>

                        </table>

                        </div>

                            <div class="box-footer">
                                <button type="submit" id="btnSearch" class="btn btn-success">Save</button>
                                <a href="@Url.Action("Search","PegPlan")" id="btnCancel" class="btn btn-warning" role="button">Cancle and Open Search</a>

                            </div>

                        </div>

                </div>

            </div>

        </div>



        </section>

</div>



<script type="text/javascript">

    $(document).ready(function () {

        $('input').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
            increaseArea: '20%' // optional
        });
    });
</script>