
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="txtCustomer_Roll_Length">Customer Roll Length</label>
            <input type="text" class="form-control" id="txtCustomer_Roll_Length" placeholder="Enter Customer Roll Length">
        </div>

        <div class="form-group">
            <label for="txtStorage">Storage</label>
            <input type="text" class="form-control" id="txtStorage" placeholder="Enter Storage">
        </div>

        <div class="form-group">
            <label for="txtEnd_Product_Criteria">End Product Criteria</label>
            <textarea class="form-control" id="txtEnd_Product_Criteria" placeholder="Enter End Product Criteria"></textarea>
        </div>

        <div class="form-group">
            <label for="txtTesting_Requirements">Testing Requirements</label>
            <textarea class="form-control" id="txtTesting_Requirements" placeholder="Enter Testing Requirements"></textarea>
        </div>

        <div class="form-group">
            <label for="txtSpecial_Requirements_Packaging">Special Requirements Packaging</label>
            <textarea class="form-control" id="txtSpecial_Requirements_Packaging" placeholder="Enter Special Requirements Packaging"></textarea>
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            <label for="txtTransport">Transport</label>
            <input type="text" class="form-control" id="txtTransport" placeholder="Enter Transport">
        </div>

        <div class="form-group">
            <label for="txtRoll_Length">Roll Length</label>
            <input type="text" class="form-control" id="txtRoll_Length" placeholder="Enter Roll Length">
        </div>

        <div class="form-group">
            <label for="txtInspection_Requirements">Inspection Requirements</label>
            <textarea class="form-control" id="txtInspection_Requirements" placeholder="Enter Inspection Requirements"></textarea>
        </div>

        <div class="form-group">
            <label for="txtProcess_Control">Process Control</label>
            <textarea class="form-control" id="txtProcess_Control" placeholder="Enter Process Control"></textarea>
        </div>

        <div class="form-group">
            <label for="txtSpecial_Requirements_Defects_Defination">Special Requirements Defects Defination</label>
            <textarea class="form-control" id="txtSpecial_Requirements_Defects_Defination" placeholder="Enter Special Requirements Defects Defination"></textarea>
        </div>

    </div>

    <div class="col-md-4">
        <div class="form-group">
            <label for="txtLot_Testing">Lot Testing</label>
            <input type="text" class="form-control" id="txtLot_Testing" placeholder="Enter Lot Testing">
        </div>

        <div class="form-group">
            <label for="txtCustomer_Sample_No">Customer Sample No</label>
            <input type="text" class="form-control" id="txtCustomer_Sample_No" placeholder="Enter Customer Sample No">
        </div>

        <div class="form-group">
            <label for="txtSpecial_Care_Details">Special Care Details</label>
            <textarea class="form-control" id="txtSpecial_Care_Details" placeholder="Enter Special Care Details"></textarea>
        </div>

        <div class="form-group">
            <label for="txtSpecial_Requirements_Material_Handling">Special Requirements Material Handling</label>
            <textarea class="form-control" id="txtSpecial_Requirements_Material_Handling" placeholder="Enter Special Requirements Material Handling"></textarea>
        </div>

        <div class="form-group">
            <label for="txtSpecial_Requirements_Verdicting">Special Requirements Verdicting</label>
            <textarea class="form-control" id="txtSpecial_Requirements_Verdicting" placeholder="Enter Special Requirements Verdicting"></textarea>
        </div>
    </div>
</div>

<div class="box-footer">
    <button type="submit" class="btn btn-success">Save Customer Specific Information</button>
    <a href="@Url.Action("Search", "CustomerQualityCreation")" id="btnCancel" class="btn btn-warning" role="button">Cancle and Open Search</a>
</div>