<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="txtTest_Name">Test Name</label>
            <input type="text" class="form-control" id="txtTest_Name" placeholder="Enter Test Name">
        </div>

        <div class="form-group">
            <label for="txtUnit_Name">Unit Name</label>
            <input type="text" class="form-control" id="txtUnit_Name" placeholder="Enter Unit Name">
        </div>
    </div>

    <div class="col-md-8 ">
        <table class="table table-hover">
            <tr>
                <th>Test Name</th>
                <th>Unit Name</th>
                <th style="min-width: 81px;">&nbsp; </th>
            </tr>
            <tr>
                <td>Test 1</td>
                <td>Unit 1</td>
                <td>
                    <div class="btn-group pull-right">
                        <button type="button" id="btnRemove" class="btn btn-danger btn-sm"><i class='fa fa-times'></i></button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Test 2</td>
                <td>Unit 2</td>
                <td>
                    <div class="btn-group pull-right">
                        <button type="button" id="btnRemove" class="btn btn-danger btn-sm"><i class='fa fa-times'></i></button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Test 3</td>
                <td>Unit 3</td>
                <td>
                    <div class="btn-group pull-right">
                        <button type="button" id="btnRemove" class="btn btn-danger btn-sm"><i class='fa fa-times'></i></button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Test 4</td>
                <td>Unit 4</td>
                <td>
                    <div class="btn-group pull-right">
                        <button type="button" id="btnRemove" class="btn btn-danger btn-sm"><i class='fa fa-times'></i></button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Test 5</td>
                <td>Unit 5</td>
                <td>
                    <div class="btn-group pull-right">
                        <button type="button" id="btnRemove" class="btn btn-danger btn-sm"><i class='fa fa-times'></i></button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Test 6</td>
                <td>Unit 6</td>
                <td>
                    <div class="btn-group pull-right">
                        <button type="button" id="btnRemove" class="btn btn-danger btn-sm"><i class='fa fa-times'></i></button>
                    </div>
                </td>
            </tr>
        </table>
    </div>

</div>

<div class="box-footer">
    <button type="submit" class="btn btn-success">Save Test</button>
    <a href="@Url.Action("Search", "CustomerQualityCreation")" id="btnCancel" class="btn btn-warning" role="button">Cancle and Open Search</a>
</div>