@{
    ViewBag.Title = "Create Article";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Enquiry <small>Master</small></h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li>Sales</li>
            <li class="active">Enquiry</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">

            <div class="col-md-12">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_1" data-toggle="tab">Quality Informative Details</a></li>
                        <li><a href="#tab_2" data-toggle="tab">Select Quality Set</a></li>
                        <li><a href="#tab_3" data-toggle="tab">Create Quality Set [ W Manager ]</a></li>
                        <li><a href="#tab_4" data-toggle="tab">Create Quality Set [ P Manager ]</a></li>
                        <li><a href="#tab_5" data-toggle="tab">Create Quality Set [ C Manager ]</a></li>
                        <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-info"></i></a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="box-body table-responsive no-padding">
                                            <table class="table table-striped">
                                                <tr>
                                                    <th colspan="2">PPC inputs</th>
                                                </tr>

                                                <tr>
                                                    <td>Quality #</td>
                                                    <td>55665475</td>
                                                </tr>

                                                <tr>
                                                    <td>Article Type to make
                                                    </td>
                                                    <td>P</td>
                                                </tr>
                                            </table>
                                        </div>

                                    </div>
                                    <div class="col-md-4">
                                        <div class="box-body table-responsive no-padding">
                                            <table class="table table-striped">
                                                <tr>
                                                    <th colspan="2">Customer quality details</th>
                                                </tr>

                                                <tr>
                                                    <td>Width of Fabric</td>
                                                    <td>20</td>
                                                </tr>

                                                <tr>
                                                    <td>Shade
                                                    </td>
                                                    <td>Bright Yarn</td>
                                                </tr>

                                                <tr>
                                                    <td>Print
                                                    </td>
                                                    <td>62</td>
                                                </tr>

                                                <tr>
                                                    <td>Coating
                                                    </td>
                                                    <td>62</td>
                                                </tr>

                                                <tr>
                                                    <td>Finish
                                                    </td>
                                                    <td>62</td>
                                                </tr>

                                                <tr>
                                                    <td>Customer Approved Sample                                                            </td>
                                                    <td>
                                                        <ul class="todo-list ui-sortable">
                                                            <li>
                                                                <span class="text">Sample1.jpg</span>
                                                            </li>
                                                            <li style="" class="">
                                                                <span class="text">Sample2.jpg</span>
                                                            </li>
                                                        </ul>

                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>Application
                                                    </td>
                                                    <td>62</td>
                                                </tr>

                                                <tr>
                                                    <td>Market Segment
                                                    </td>
                                                    <td>62</td>
                                                </tr>

                                                <tr>
                                                    <td>Physical Appearance
                                                    </td>
                                                    <td>62</td>
                                                </tr>

                                                <tr>
                                                    <td>Label / Tagging
                                                    </td>
                                                    <td>62</td>
                                                </tr>
                                            </table>
                                        </div>

                                    </div>
                                    <div class="col-md-4">

                                        <div class="box-body table-responsive no-padding">
                                            <table class="table table-striped">
                                                <tr>
                                                    <th colspan="2">Quality supportive details</th>
                                                </tr>
                                                <tr>
                                                    <td>Rate
                                                    </td>
                                                    <td>62</td>
                                                </tr>

                                                <tr>
                                                    <td>Customer Roll Length
                                                    </td>
                                                    <td>62</td>
                                                </tr>

                                                <tr>
                                                    <td>Packing
                                                    </td>
                                                    <td>62</td>
                                                </tr>

                                                <tr>
                                                    <td>Dispatch
                                                    </td>
                                                    <td>62</td>
                                                </tr>

                                                <tr>
                                                    <td>Additional Customer Property
                                                    </td>
                                                    <td>62</td>
                                                </tr>

                                                <tr>
                                                    <td>Source of Enquiry
                                                    </td>
                                                    <td>62</td>
                                                </tr>
                                                <tr>
                                                    <td>Attached Emails
                                                    </td>
                                                    <td>
                                                        <ul class="todo-list ui-sortable">
                                                            <li>
                                                                <span class="text">Email1.pub</span>
                                                            </li>
                                                            <li style="" class="">
                                                                <span class="text">Email2.pub</span>
                                                            </li>
                                                            <li style="" class="">
                                                                <span class="text">Email3.pub</span>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Attached Files
                                                    </td>
                                                    <td>
                                                        <ul class="todo-list ui-sortable">
                                                            <li>
                                                                <span class="text">1.doc</span>
                                                            </li>
                                                            <li style="" class="">
                                                                <span class="text">1.xlxs</span>
                                                            </li>
                                                            <li style="" class="">
                                                                <span class="text">1.jpg</span>
                                                            </li>
                                                        </ul>

                                                    </td>
                                                </tr>

                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="tab_2">
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="form-group">
                                        <label for="txtQualityNo">Quality # :</label>
                                        <input type="text" id="txtQualityNo" placeholder="Select a Quality #, to view its Quality Set" class="form-control input-sm" />
                                        <ul class="todo-list ui-sortable">
                                            <li>
                                                <span class="text">547855662</span>
                                                <div class="tools">
                                                    <i class="fa fa-remove"></i>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="box-body table-responsive no-padding">

                                        <table class="table table-striped">
                                            <tr>
                                                <th style="width: 50px;"></th>
                                                <th>Y Article</th>
                                                <th>W Article</th>
                                                <th>G Article</th>
                                                <th>P Article</th>
                                                <th>C Article</th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="radio" name="r1" checked /></td>
                                                <td>04200200 S01NY06 BR0048IM HS0HT 000NRL SUPRF</td>
                                                <td>4042 0PES 062.00" 02740</td>
                                                <td>0PES PLN155 100</td>
                                                <td>-</td>
                                                <td>-</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="radio" name="r1" /></td>
                                                <td>04200200 S01NY06 BR0048IM HS0HT 000NRL SUPRF</td>
                                                <td>4042 0PES 062.00" 02740</td>
                                                <td>0PES PLN155 200</td>
                                                <td>-</td>
                                                <td>-</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="radio" name="r1" /></td>
                                                <td>04200200 S01NY06 BR0048IM HS0HT 000NRL SUPRF</td>
                                                <td>4042 0PES 062.00" 02740</td>
                                                <td>0PES PLN155 300</td>
                                                <td>-</td>
                                                <td>-</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="radio" name="r1" /></td>
                                                <td>04200200 S01NY06 BR0048IM HS0HT 000NRL SUPRF</td>
                                                <td>4042 0PES 062.00" 02740</td>
                                                <td>0PES PLN155 100</td>
                                                <td>0PES PLN155 100 111</td>
                                                <td>-</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="radio" name="r1" /></td>
                                                <td>04200200 S01NY06 BR0048IM HS0HT 000NRL SUPRF</td>
                                                <td>4042 0PES 062.00" 02740</td>
                                                <td>0PES PLN155 200</td>
                                                <td>0PES PLN155 100 222</td>
                                                <td>-</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="radio" name="r1" /></td>
                                                <td>04200200 S01NY06 BR0048IM HS0HT 000NRL SUPRF</td>
                                                <td>4042 0PES 062.00" 02740</td>
                                                <td>0PES PLN155 300</td>
                                                <td>0PES PLN155 100 333</td>
                                                <td>-</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="radio" name="r1" /></td>
                                                <td>04200200 S01NY06 BR0048IM HS0HT 000NRL SUPRF</td>
                                                <td>4042 0PES 062.00" 02740</td>
                                                <td>0PES PLN155 200</td>
                                                <td>0PES PLN155 100 222</td>
                                                <td>0PES PLN155 100 222 1114</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="radio" name="r1" /></td>
                                                <td>04200200 S01NY06 BR0048IM HS0HT 000NRL SUPRF</td>
                                                <td>4042 0PES 062.00" 02740</td>
                                                <td>0PES PLN155 300</td>
                                                <td>0PES PLN155 100 333</td>
                                                <td>0PES PLN155 100 333 1222</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="radio" name="r1" /></td>
                                                <td>04200200 S01NY06 BR0048IM HS0HT 000NRL SUPRF</td>
                                                <td>4042 0PES 062.00" 02740</td>
                                                <td>0PES PLN155 400</td>
                                                <td>0PES PLN155 100 444</td>
                                                <td>0PES PLN155 100 444 3320</td>
                                            </tr>

                                        </table>
                                    </div>

                                </div>
                            </div>

                            <br />
                            <br />
                            <div class="box-footer">
                                <button type="submit" id="btnSearch" class="btn btn-success">Save Quality Set</button>

                                <div class="btn-group pull-right">
                                    <button type="button" class="btn btn-primary">View Quality Set Details</button>
                                    @*<a class="btn btn-warning" href="@Url.Action("QualitySet_Checkpoint", "Enquiry")" role="button">Create Article</a>*@
                                    <button type="button" class="btn btn-warning">Edit Article</button>
                                    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Edit Y Article</a></li>
                                        <li><a href="#">Edit W Article</a></li>
                                        <li><a href="#">Edit G Article</a></li>
                                        <li><a href="#">Edit P Article</a></li>
                                        <li><a href="#">Edit C Article</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="tab_3">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div style="background-color: #F7FF00; width: 100%; text-align: center; height: 50px;">
                                            <label style="line-height: 45px;">Y Article</label>

                                        </div>
                                        <div style="background-color: #FCFCFC;">
                                            <br />

                                            <div class="box-body table-responsive no-padding">

                                                <table class="table table-striped">
                                                    <tr>
                                                        <td>
                                                            <input type="radio" name="r1" checked /></td>
                                                        <td>04200200 S01NY06 BR0048IM HS0HT 000NRL SUPRF
                                                        <a href="#" class="text-muted pull-right"><i class="fa fa-eye"></i></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <input type="radio" name="r1" /></td>
                                                        <td>04200200 S01NY06 BR0048IM HS0HT 000NRL SUPRF
                                                        <a href="#" class="text-muted pull-right"><i class="fa fa-eye"></i></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <input type="radio" name="r1" /></td>
                                                        <td>04200200 S01NY06 BR0048IM HS0HT 000NRL SUPRF
                                                        <a href="#" class="text-muted pull-right"><i class="fa fa-eye"></i></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <input type="radio" name="r1" /></td>
                                                        <td>04200200 S01NY06 BR0048IM HS0HT 000NRL SUPRF
                                                        <a href="#" class="text-muted pull-right"><i class="fa fa-eye"></i></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <input type="radio" name="r1" /></td>
                                                        <td>04200200 S01NY06 BR0048IM HS0HT 000NRL SUPRF
                                                        <a href="#" class="text-muted pull-right"><i class="fa fa-eye"></i></a>
                                                        </td>
                                                    </tr>
                                                </table>

                                            </div>

                                            <br />
                                            <button class="btn btn-success btn-sm pull-right" data-toggle="modal" data-target="#myModal">Add new <i class="fa fa-plus-circle"></i></button>
                                            <br />
                                            <br />
                                        </div>

                                    </div>
                                    <div class="col-md-4">
                                        <div style="background-color: #DFFA14; width: 100%; text-align: center; height: 50px;">
                                            <label style="line-height: 45px;">W Article</label>
                                        </div>
                                        <div style="background-color: #FCFCFC;">
                                            <br />

                                            <div class="form-group">
                                                <label for="txtQualityNo">Quality # :</label>
                                                <input type="text" id="txtQualityNo" placeholder="Select a Quality #, to view its Quality Set" class="form-control input-sm" />
                                                <ul class="todo-list ui-sortable">
                                                    <li>
                                                        <span class="text">547855662</span>
                                                        <div class="tools">
                                                            <i class="fa fa-remove"></i>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>

                                            <div class="box-body table-responsive no-padding">

                                                <table class="table table-striped">
                                                    <tr>
                                                        <td>
                                                            <input type="radio" name="r2" checked /></td>
                                                        <td>4042 0PES 062.00" 02740
                                                        <a href="#" class="text-muted pull-right"><i class="fa fa-eye"></i></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <input type="radio" name="r2" /></td>
                                                        <td>4042 0PES 062.00" 02740
                                                        <a href="#" class="text-muted pull-right"><i class="fa fa-eye"></i></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <input type="radio" name="r2" /></td>
                                                        <td>4042 0PES 062.00" 02740
                                                        <a href="#" class="text-muted pull-right"><i class="fa fa-eye"></i></a>
                                                        </td>
                                                    </tr>
                                                </table>

                                            </div>
                                            <br />
                                            <button class="btn btn-success btn-sm pull-right">Add new <i class="fa fa-plus-circle"></i></button>
                                            <br />
                                            <br />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div style="background-color: #BDE61C; width: 100%; text-align: center; height: 50px;">
                                            <label style="line-height: 45px;">G Article</label>
                                        </div>
                                        <div style="background-color: #FCFCFC;">
                                            <br />

                                            <div class="form-group">
                                                <label for="txtQualityNo">Quality # : </label>
                                                &nbsp; 547855662 / temp quality id - 2211
                                                @*<input type="text" id="txtQualityNo" placeholder="Select a Quality #, to view its Quality Set" class="form-control input-sm" />
                                                <ul class="todo-list ui-sortable">
                                                    <li>
                                                        <span class="text">547855662</span>
                                                        <div class="tools">
                                                            <i class="fa fa-remove"></i>
                                                        </div>
                                                    </li>
                                                </ul>*@
                                            </div>

                                            <div class="box-body table-responsive no-padding">

                                                <table class="table table-striped">
                                                    <tr>
                                                        <td>
                                                            <input type="radio" name="r3" checked /></td>
                                                        <td>0PES PLN155 100
                                                        <a href="#" class="text-muted pull-right"><i class="fa fa-eye"></i></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <input type="radio" name="r3" /></td>
                                                        <td>0PES PLN155 100
                                                        <a href="#" class="text-muted pull-right"><i class="fa fa-eye"></i></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <input type="radio" name="r3" /></td>
                                                        <td>0PES PLN155 100
                                                        <a href="#" class="text-muted pull-right"><i class="fa fa-eye"></i></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <input type="radio" name="r3" /></td>
                                                        <td>0PES PLN155 100
                                                        <a href="#" class="text-muted pull-right"><i class="fa fa-eye"></i></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <input type="radio" name="r3" /></td>
                                                        <td>0PES PLN155 100
                                                        <a href="#" class="text-muted pull-right"><i class="fa fa-eye"></i></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <input type="radio" name="r3" /></td>
                                                        <td>0PES PLN155 100
                                                        <a href="#" class="text-muted pull-right"><i class="fa fa-eye"></i></a>
                                                        </td>
                                                    </tr>
                                                </table>

                                            </div>
                                            <br />
                                            <button class="btn btn-success btn-sm pull-right">Add new <i class="fa fa-plus-circle"></i></button>
                                            <br />
                                            <br />
                                        </div>

                                    </div>

                                </div>

                                <br />
                                <br />
                                <div class="box-footer">
                                    <button type="submit" id="btnSearch" class="btn btn-success">Save Quality Set</button>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="tab_4">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div style="background-color: #88C230; width: 100%; text-align: center; height: 50px;">
                                            <label style="line-height: 45px;">P Article</label>
                                        </div>
                                        <div style="background-color: #FCFCFC;">
                                            <br />
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="txtQualityNo">Quality # : </label>
                                                        &nbsp; 547855662 / temp quality id - 2211
                                                    </div>
                                                    <div class="box-body table-responsive no-padding">

                                                        <table class="table table-striped">
                                                            <tr>
                                                                <td>
                                                                    <input type="radio" name="r4" checked /></td>
                                                                <td>0PES PLN155 100 111
                                                        <a href="#" class="text-muted pull-right"><i class="fa fa-eye"></i></a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <input type="radio" name="r4" /></td>
                                                                <td>0PES PLN155 100 111
                                                        <a href="#" class="text-muted pull-right"><i class="fa fa-eye"></i></a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <input type="radio" name="r4" /></td>
                                                                <td>0PES PLN155 100 111
                                                        <a href="#" class="text-muted pull-right"><i class="fa fa-eye"></i></a>
                                                                </td>
                                                            </tr>
                                                        </table>

                                                    </div>
                                                    <br />
                                                    <button class="btn btn-success btn-sm pull-right">Add new <i class="fa fa-plus-circle"></i></button>

                                                    <br />
                                                    <br />

                                                </div>
                                                <div class="col-md-6">
                                                    <div class="box-header with-border">
                                                        <h3 class="box-title">Selected Articles by W Manager</h3>
                                                    </div>

                                                    <div class="box-body table-responsive no-padding">

                                                        <table class="table table-striped">

                                                            <tr>
                                                                <td>
                                                                    <label>Y Article :</label></td>
                                                                <td>04200200 S01NY06 BR0048IM HS0HT 000NRL SUPRF <a href="#" class="text-muted pull-right"><i class="fa fa-eye"></i></a></td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <label>W Article :</label></td>
                                                                <td>4042 0PES 062.00" 02740
                                                        <a href="#" class="text-muted pull-right"><i class="fa fa-eye"></i></a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <label>G Article :</label></td>
                                                                <td>0PES PLN155 100
                                                        <a href="#" class="text-muted pull-right"><i class="fa fa-eye"></i></a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <br />
                                <br />
                                <div class="box-footer">
                                    <button type="submit" id="btnSearch" class="btn btn-success">Save Quality Set</button>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="tab_5">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div style="background-color: #678C5B; width: 100%; text-align: center; height: 50px;">
                                            <label style="line-height: 45px;">C Article</label>
                                        </div>
                                        <div style="background-color: #FCFCFC;">
                                            <br />
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="txtQualityNo">Quality # : </label>
                                                        &nbsp; 547855662 / temp quality id - 2211
                                                    </div>

                                                    <div class="box-body table-responsive no-padding">

                                                        <table class="table table-striped">
                                                            <tr>
                                                                <td>
                                                                    <input type="radio" name="r5" checked /></td>
                                                                <td>0PES PLN155 100 222 1114
                                                        <a href="#" class="text-muted pull-right"><i class="fa fa-eye"></i></a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <input type="radio" name="r5" /></td>
                                                                <td>0PES PLN155 100 222 1114
                                                        <a href="#" class="text-muted pull-right"><i class="fa fa-eye"></i></a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <input type="radio" name="r5" /></td>
                                                                <td>0PES PLN155 100 222 1114
                                                        <a href="#" class="text-muted pull-right"><i class="fa fa-eye"></i></a>
                                                                </td>
                                                            </tr>
                                                        </table>

                                                    </div>
                                                    <br />
                                                    <button class="btn btn-success btn-sm pull-right">Add new <i class="fa fa-plus-circle"></i></button>

                                                    <br />
                                                    <br />
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="box-header with-border">
                                                        <h3 class="box-title">Selected Articles by W Manager & P Manager</h3>
                                                    </div>

                                                    <div class="box-body table-responsive no-padding">

                                                        <table class="table table-striped">

                                                            <tr>
                                                                <td>
                                                                    <label>Y Article :</label></td>
                                                                <td>04200200 S01NY06 BR0048IM HS0HT 000NRL SUPRF <a href="#" class="text-muted pull-right"><i class="fa fa-eye"></i></a></td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <label>W Article :</label></td>
                                                                <td>4042 0PES 062.00" 02740
                                                        <a href="#" class="text-muted pull-right"><i class="fa fa-eye"></i></a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <label>G Article :</label></td>
                                                                <td>0PES PLN155 100
                                                        <a href="#" class="text-muted pull-right"><i class="fa fa-eye"></i></a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <label>P Article :</label></td>
                                                                <td>0PES PLN155 100 111
                                                        <a href="#" class="text-muted pull-right"><i class="fa fa-eye"></i></a>
                                                                </td>
                                                            </tr>
                                                        </table>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <br />
                                <br />
                                <div class="box-footer">
                                    <button type="submit" id="btnSearch" class="btn btn-success">Save Quality Set</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col -->

        </div>
        <!-- /.row -->








        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        @*@{Html.RenderPartial("_YArticle");}*@
                        @*@{Html.RenderPartial("_WArticle");}*@
                        @*@{Html.RenderPartial("_GArticle");}*@
                        @*@{Html.RenderPartial("_PArticle");}*@
                        @*@{Html.Partial("~/Views/PostLogin/Master/CArticle/_CArticle.cshtml");}*@

                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script type="text/javascript">

    $(document).ready(function () {

        $('input').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
            increaseArea: '20%' // optional
        });

        $('[name="r1"]').on('ifChanged', function (event) {
            var id = this.id;
            if ($("#" + id).prop('checked')) {
                if (id == 'rdbQualityNo') {
                    $("#drpArticleType").attr('disabled', 'disabled');
                    $("#txtQualityNo").removeAttr('disabled', 'disabled');
                }
                else {
                    $("#drpArticleType").removeAttr('disabled', 'disabled');
                    $("#txtQualityNo").attr('disabled', 'disabled');
                }
            }
        });

        $("#myModal").find(".modal-body").load("/master/partial-y-article", success);

    });

    function success() {
        alert("hi");
    }
</script>





