@{
    ViewBag.Title = "Verify Quality Set";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Enquiry <small>Master</small></h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li>Sales</li>
            <li class="active">Enquiry</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">

            <div class="col-md-12">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_1" data-toggle="tab">Quality Informative Details</a></li>
                        <li><a href="#tab_2" data-toggle="tab">Verify Quality Set</a></li>
                        <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-info"></i></a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="box-body table-responsive no-padding">
                                            <table class="table table-striped">
                                                <tr>
                                                    <th colspan="2">PPC inputs</th>
                                                </tr>

                                                <tr>
                                                    <td>Quality #</td>
                                                    <td>55665475</td>
                                                </tr>

                                                <tr>
                                                    <td>Article Type to make
                                                    </td>
                                                    <td>P</td>
                                                </tr>
                                            </table>
                                        </div>

                                    </div>
                                    <div class="col-md-4">
                                        <div class="box-body table-responsive no-padding">
                                            <table class="table table-striped">
                                                <tr>
                                                    <th colspan="2">Customer quality details</th>
                                                </tr>

                                                <tr>
                                                    <td>Width of Fabric</td>
                                                    <td>20</td>
                                                </tr>

                                                <tr>
                                                    <td>Shade
                                                    </td>
                                                    <td>Bright Yarn</td>
                                                </tr>

                                                <tr>
                                                    <td>Print
                                                    </td>
                                                    <td>62</td>
                                                </tr>

                                                <tr>
                                                    <td>Coating
                                                    </td>
                                                    <td>62</td>
                                                </tr>

                                                <tr>
                                                    <td>Finish
                                                    </td>
                                                    <td>62</td>
                                                </tr>

                                                <tr>
                                                    <td>Customer Approved Sample                                                            </td>
                                                    <td>
                                                        <ul class="todo-list ui-sortable">
                                                            <li>
                                                                <span class="text">Sample1.jpg</span>
                                                            </li>
                                                            <li style="" class="">
                                                                <span class="text">Sample2.jpg</span>
                                                            </li>
                                                        </ul>

                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>Application
                                                    </td>
                                                    <td>62</td>
                                                </tr>

                                                <tr>
                                                    <td>Market Segment
                                                    </td>
                                                    <td>62</td>
                                                </tr>

                                                <tr>
                                                    <td>Physical Appearance
                                                    </td>
                                                    <td>62</td>
                                                </tr>

                                                <tr>
                                                    <td>Label / Tagging
                                                    </td>
                                                    <td>62</td>
                                                </tr>
                                            </table>
                                        </div>

                                    </div>
                                    <div class="col-md-4">

                                        <div class="box-body table-responsive no-padding">
                                            <table class="table table-striped">
                                                <tr>
                                                    <th colspan="2">Quality supportive details</th>
                                                </tr>
                                                <tr>
                                                    <td>Rate
                                                    </td>
                                                    <td>62</td>
                                                </tr>

                                                <tr>
                                                    <td>Customer Roll Length
                                                    </td>
                                                    <td>62</td>
                                                </tr>

                                                <tr>
                                                    <td>Packing
                                                    </td>
                                                    <td>62</td>
                                                </tr>

                                                <tr>
                                                    <td>Dispatch
                                                    </td>
                                                    <td>62</td>
                                                </tr>

                                                <tr>
                                                    <td>Additional Customer Property
                                                    </td>
                                                    <td>62</td>
                                                </tr>

                                                <tr>
                                                    <td>Source of Enquiry
                                                    </td>
                                                    <td>62</td>
                                                </tr>
                                                <tr>
                                                    <td>Attached Emails
                                                    </td>
                                                    <td>
                                                        <ul class="todo-list ui-sortable">
                                                            <li>
                                                                <span class="text">Email1.pub</span>
                                                            </li>
                                                            <li style="" class="">
                                                                <span class="text">Email2.pub</span>
                                                            </li>
                                                            <li style="" class="">
                                                                <span class="text">Email3.pub</span>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Attached Files
                                                    </td>
                                                    <td>
                                                        <ul class="todo-list ui-sortable">
                                                            <li>
                                                                <span class="text">1.doc</span>
                                                            </li>
                                                            <li style="" class="">
                                                                <span class="text">1.xlxs</span>
                                                            </li>
                                                            <li style="" class="">
                                                                <span class="text">1.jpg</span>
                                                            </li>
                                                        </ul>

                                                    </td>
                                                </tr>

                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="tab_2">
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="form-group">
                                        <label for="txtQualityNo">Quality # : </label>
                                        &nbsp; 547855662 / temp quality id - 2211
                                    </div>

                                    <div class="box-body table-responsive no-padding">

                                        <table class="table table-striped">

                                            <tr>
                                                <td>
                                                    <label>Y Article :</label></td>
                                                <td>04200200 S01NY06 BR0048IM HS0HT 000NRL SUPRF <a href="#" class="text-muted pull-right"><i class="fa fa-eye"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>W Article :</label></td>
                                                <td>4042 0PES 062.00" 02740
                                                        <a href="#" class="text-muted pull-right"><i class="fa fa-eye"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>G Article :</label></td>
                                                <td>0PES PLN155 100
                                                        <a href="#" class="text-muted pull-right"><i class="fa fa-eye"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>P Article :</label></td>
                                                <td>0PES PLN155 100 111
                                                        <a href="#" class="text-muted pull-right"><i class="fa fa-eye"></i></a>
                                                </td>
                                            </tr>
                                        </table>

                                    </div>

                                </div>
                            </div>

                            <br />
                            <br />
                            <div class="box-footer">

                                <div class="btn-group pull-center">
                                    <button type="button" class="btn btn-success" id="btnApprove">Approve Quality Set</button>
                                    <button type="button" class="btn btn-danger" id="btnDisapprove">Disapprove Quality Set</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

        <div class="row" id="divQualityOperation">
            <div class="col-md-12">
                @Html.Partial("~/Views/PostLogin/Master/QualityCreation/_Index.cshtml")
            </div>
        </div>


        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        @*@{Html.RenderPartial("_YArticle");}*@
                        @*@{Html.RenderPartial("_WArticle");}*@
                        @*@{Html.RenderPartial("_GArticle");}*@
                        @*@{Html.RenderPartial("_PArticle");}*@
                        @*@{Html.RenderPartial("_CArticle");}*@
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script type="text/javascript">

    $(document).ready(function () {

        $("#divQualityOperation").hide();

        $("#btnApprove").click(function () {

            $("#divQualityOperation").slideDown(1000);
        });

        $("#btnDisapprove").click(function () {

            $("#divQualityOperation").slideUp(1000);
        });

    });
</script>