@model Kusumgar.Models.EnquiryViewModel
@using KusumgarBusinessEntities.Common
<script src="/Scripts/Sales/Event/ppc_checkpoint_search_events.js"></script>
<script src="/Scripts/Sales/Method/ppc_checkpoint_search_methods.js"></script>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Enquiry

            <small>Search</small>
        </h1>

        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li>Sales</li>
            <li class="active">Enquiry Search</li>
        </ol>
    </section>

    <form id="frmSearch_PPC_Checkpoint">
        <input type="hidden" id="hdnEnquiry_Id" value="@Model.Enquiry.Enquiry_Id" name="Enquiry.Enquiry_Id">
    <input type="hidden" id="hdfCurrentPage" name="Pager.CurrentPage" value="@Model.Pager.CurrentPage" />
    <!-- Main content -->
    <section class="content">

        <!-- Enquiry Search -->
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <!-- form start -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="btn-group pull-right">


                                    @*<button type="button" class="btn btn-warning">Edit Enquiry on PPC Check-point</button>*@
                                    <a class="btn btn-warning btn-sm" style="display:none;"  id="btnEdit_Enquiry_PPC" role="button">Edit Enquiry on PPC Check point</a>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-warning btn-sm">Filter Enquiry by Stage</button>
                                        <button type="button" class="btn btn-warning dropdown-toggle btn-sm" data-toggle="dropdown">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Level 1 - Enquiry Arrived</a></li>
                                            <li><a href="#">Level 6 - Quality Assigned</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid">
                    <div class="box-body table-responsive no-padding">

                        <table class="table table-striped" id="tblEnquiry">
                            <tr>
                                <th style="width: 50px;"></th>
                                <th>Enquiry No</th>
                                <th>Customer Name</th>
                                <th>Quality No</th>
                                <th>Quantity</th>
                                <th>Delivary Date</th>
                                <th>Stage</th>
                            </tr>


                        </table>
                    </div>

                    <div class="box-footer clearfix">
                        <div class="pagination pagination-sm no-margin pull-right">
                            <ul></ul>
                        </div>
                        <div id="divSearchGridOverlay" class="overlay">
                            <i class="fa fa-refresh fa-spin"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*<div class="row">
            <div class="col-md-12">
                <div class="box box-solid">
                    <div class="box-body table-responsive no-padding">

                        <table class="table table-striped">
                            <tr>
                                <th style="width: 50px;"></th>
                                <th>Enquiry No</th>
                                <th>Customer Name</th>
                                <th>Quality No</th>
                                <th>Quantity</th>
                                <th>Delivary Date</th>
                                <th>Stage</th>
                            </tr>

                            <tr>
                                <td>
                                    <input type="radio" name="r1" checked />
                                </td>
                                <td>E-1001-1</td>
                                <td>Synthetic Fabric Corp.</td>
                                <td>10301</td>
                                <td>5000 Meters</td>
                                <td>25 - April - 2015</td>
                                <td>Level 1 - Enquiry Arrived</td>
                            </tr>

                            <tr>
                                <td>
                                    <input type="radio" name="r1" />
                                </td>
                                <td>E-1001-2</td>
                                <td>Synthetic Fabric Corp.</td>
                                <td>10301</td>
                                <td>2000 Meters</td>
                                <td>01 - June - 2015</td>
                                <td>Level 1 - Enquiry Arrived</td>
                            </tr>


                            <tr>
                                <td>
                                    <input type="radio" name="r1" />
                                </td>
                                <td>E-1001-3</td>
                                <td>Synthetic Fabric Corp.</td>
                                <td>10301</td>
                                <td>3000 Meters</td>
                                <td>10 - August - 2015</td>
                                <td>Level 1 - Enquiry Arrived</td>
                            </tr>


                            <tr>
                                <td>
                                    <input type="radio" name="r1" />
                                </td>
                                <td>E-1002-1</td>
                                <td>Ramikbhai Group of Fabrics</td>
                                <td>10301</td>
                                <td>6000 Meters</td>
                                <td>30 - April - 2015</td>
                                <td>Level 1 - Enquiry Arrived</td>
                            </tr>


                            <tr>
                                <td>
                                    <input type="radio" name="r1" />
                                </td>
                                <td>E-1002-2</td>
                                <td>Ramikbhai Group of Fabrics</td>
                                <td>10301</td>
                                <td>1000 Meters</td>
                                <td>01 - July - 2015</td>
                                <td>Level 1 - Enquiry Arrived</td>
                            </tr>
                        </table>
                    </div>

                    <div class="box-footer clearfix">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            <li><a href="#">&laquo;</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                    </div>

                    <div id="divSearchGridOverlay" class="overlay">
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>
                </div>
            </div>
        </div>*@

    </section>
    <!-- /.content -->

        </form>
</div>
<!-- /.content-wrapper -->

